{% extends 'base.html.twig' %}

{% block title %}HORAIRES D'OUVERTURE{% endblock %}

{% block body %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px;">HORAIRES D'OUVERTURE</h1>

                <hr style="width: 80px;" align="left" size="50" class="hr1">

                <br>

                <table>
                    <tbody style="font-family: 'Roboto', sans-serif;">

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>LUNDI</b></td>
                        <td style="letter-spacing: 4px;">08h30 - 21h00</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>MARDI</b></td>
                        <td style="letter-spacing: 4px;">08h30 - 21h00</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>MERCREDI</b></td>
                        <td style="letter-spacing: 4px;">08h30 - 21h00</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>JEUDI</b></td>
                        <td style="letter-spacing: 4px;">08h30 - 21h00</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>VENDREDI</b></td>
                        <td style="letter-spacing: 4px;">08h30 - 21h00</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>SAMEDI</b></td>
                        <td style="letter-spacing: 4px;">FERMER</td>
                    </tr>

                    <tr>
                        <td style="padding-right: 14%; letter-spacing: 2px; color: #fe8155;"><b>DIMANCHE</b></td>
                        <td style="letter-spacing: 4px;">FERMER</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</article>

<br>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="font-family: 'Roboto', sans-serif; letter-spacing: 4px;">

                <h1 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px;">NOUS CONTACTER</h1>

                <hr style="width: 80px;" align="left" size="50" class="hr1">

                <p><i class="fas fa-phone" aria-hidden="true"></i><b> Téléphone: </b> 06.12.45.78.96</p>

                <p><i class="far fa-envelope" aria-hidden="true"></i><b> E-Mail: </b> contact@didier.fr</p>

                <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i><b> Sur Place: </b> 56-80 Rue de Verdun, 84270 Vedène</p>

            </div>
        </div>
    </div>
</article>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px;">INFORMATION SUR LE LIEU</h1>

                <hr style="width: 80px;" align="left" size="50" class="hr1">

                <h4 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px;">L'Avignon Comedy Club est situé à la <a href="https://goo.gl/maps/XugqCFwVKdN2" target="_blank" style="color: #fe8155;">maison des associations de Védène</a>. 56-80 Rue de Verdun, 84270 Vedène.</h4>

                <br>

                <iframe style="border-radius: 30px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972.0452991413187!2d4.902069028473367!3d43.97831844997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5f2a4e980481f%3A0x380fdc6f4035cd04!2sMaison+des+Associations+de+V%C3%A9d%C3%A8ne!5e0!3m2!1sfr!2sus!4v1500252289945" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</article>
{% endblock %}
