:root {
    /* --theme-primary: #ffd400; */
    --theme-primary: #fe8155;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: var(--theme-primary) !important;
}

.hr1 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1.5px solid var(--theme-primary) !important;
  }

.creator {
    color: var(--theme-primary) !important;    
}

.news article p {
    font-size: 0.8em;
}

.news p {
    /* margin-top: 0%;
    margin-bottom: 1.25em;
    margin-left: 0%;
    margin-right: 0%; */
    margin: 0%;
    padding: 0%;
}

.btn-primary {
    font-size: .778em;
    font-weight: 600;
    padding: 10px 26px;
    border-width: 2px;
    border-radius: 4px;
    color: #4a4850;
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
}

.btn-primary:hover {
    font-size: .778em;
    font-weight: 600;
    padding: 10px 26px;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--theme-primary);
    color: var(--theme-primary);
    background-color: transparent;
}

.text-banner h1 {
    height: auto;
    font-size: 2em;
    left: 0;
    line-height: 35px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    top: 0;
    -webkit-transform: none;
    transform: none;

    /* line-height: 1.428571429; */
    /* margin: 0em; */
}

.text-banner p {
    line-height: 1.428571429;
    margin: 0em;
}

.p-banner {
    color: #fff;
    font-size: 1.222em;
    margin: 0;
}

.banner-background {
    height: 53vh;
    background-image: url(/assets/img/banner.jpg);
    background-color: #343036;
    background-size: cover;
    overflow: inherit;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
}

.banner-img {
    background: none;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.badge-primary {
    color: var(--theme-primary);
    background-color: transparent;
    border: 1px solid var(--theme-primary);
}

.location-info {
    line-height: 0em;
    text-transform: capitalize;
}

.border-event {
    padding: 1.25em;
    
    border: 1px solid rgba(198,221,225,.8);
    position: relative;
}

.border-event:after {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border: 1px solid rgba(198,221,225,.8);
}

.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee !important;
}

.post_title_url
{
	color: #191919;
	font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: 15px;
	font-weight: 400;
}

.post_title_url:hover
{
	text-decoration-color: #191919;
}

.article_author {
    color: #a3a3a3;
    padding-bottom: 1em !important;
}

.content_post
{
	color: #191919;
	font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
	font-size: 0.8em;
    padding-bottom: 1.5em;
}

.content_post p
{
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

.content_post h1
{
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	font-size: 2.4em;
}

.content_post h2
{
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
}

.content_post h3
{
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6em;
}

.content_post h4
{
	color: #191919;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.4em;
}

.content_post strong
{
	color: #191919;
}

.articles img {
    cursor: pointer !important;
}

.ReadMoreBtn
{
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	font-family: Arial;
    font-size: 0.7em;
    text-decoration: none;

	display: inline-block;
	cursor: pointer;
	border-radius: 0%;
	border: 0px;

	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: var(--theme-primary);
}

.ReadMoreBtn:hover {
	filter: brightness(96%);
}

.ReadMoreBtn:active {
	position: relative;
	top: 1px;
}

.side_bar_title
{
	text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.364;
    font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side_bar_title::before
{
    align-self: center;
    background-color: #191919;
    content: "\a0";
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    height: 1px;
}

.side_bar_title::after
{
    align-self: center;
    background-color: #191919;
    content: "\a0";
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    height: 1px;
}

.side_bar_title span
{
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.side_title_post_actualite
{
	text-align: left;
	font-size: 1em;
    line-height: 1.2;
    margin-top: -3px;
    font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
}

.side_title_post_actualite p
{
    margin-bottom: 0.5em;
}

.side_description_post
{
    color: #a3a3a3;
	text-align: left;
    margin: 0%;
}

.author_side {
    color: #404040;
    font-weight: 500;
    font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
}

.post_title_actualite
{
	color: #191919;
	font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
	font-size: 0.8em;
	margin-bottom: 0.75em !important;
	font-weight: 400;
}

.custom_font
{
	font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
}

.fa-gradient-facebook {
	background: linear-gradient(0.25turn, #00c6ff, #0072ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-gradient-instagram {
	background: linear-gradient(0.60turn, #833ab4, #fd1d1d, #fcb045);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-gradient-twitter {
	background-color: #1da1f2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Post image */
.container-single-fullwidth.two-sidebar .post-image {
    display: block;
    width: 78%;
}

.container-single-fullwidth .post-image {
    margin-bottom: 40px;
}

.container.two-sidebar {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.standard-post-special_wrapper {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    display: block;
    z-index: 10;
}

.header-standard.header-classic {
    margin: 0 0 26px 0;
    padding: 0;
}

.standard-post-special_wrapper .header-standard {
    text-align: left !important;
    color: #ffffff;
}

.post-title {
    font-weight: 500;
    font-size: 30px;
}

.post-box-meta-single > span:not(:first-child):before {
    content: "";
    width: 0;
    height: 13px;
    margin: 0 15px;
    display: inline-block;
    background: none !important;
    border-right: 2px solid;
    opacity: 0.8;
}

.post-image {
    margin-bottom: 26px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.post-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    background: linear-gradient(to bottom, transparent 50%, #000 90%);
    opacity: 0.7;
    transition: 0.3s;
    background-repeat: repeat;
}

.container-image {
    display: block;
    /* position: relative; */
    overflow-x: hidden;
}