{% extends 'baseDashboard.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>

    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
