{% extends 'baseDashboard.html.twig' %}

{% block title %}Edit Website{% endblock %}

{% block body %}
    <h1>Edit Website</h1>

    {{ include('website/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('website_index') }}">back to list</a>

    {{ include('website/_delete_form.html.twig') }}
{% endblock %}
