{% extends 'baseIndex.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="height: 500px; background-image: url('{{ asset('assets/img/comedy.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px; text-align: center; font-size: 3em; color: #fe8155;">AVIGNON COMEDY CLUB</h1>
                    <h4 style="font-family: 'Roboto', sans-serif; letter-spacing: 4px; text-align: center; font-size: 1em;">40 rue de Verdun, 84270 Vedène</h4>
                    <br>
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {% include 'components/event.html.twig' %}

                </div>
            </div>
        </div>
    </article>
    
{% endblock %}
