{% extends 'baseDashboard.html.twig' %}

{% block title %}Edit Location{% endblock %}
{% block pageName %}Edit Location{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('location_index') }}">back to list</a>

    <h1>Edit Location</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
