{% extends 'base.html.twig' %}

{% block title %}On display{% endblock %}

{% block body %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% include 'components/event.html.twig' %}

            </div>
        </div>
    </div>
</article>

{% endblock %}
