{% extends 'baseDashboard.html.twig' %}

{% block title %}Edit GalleryEntity{% endblock %}
{% block pageName %}Edit GalleryEntity{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('gallery_entity_index') }}">back to list</a>
    
    <h1>Edit GalleryEntity</h1>

    {{ include('gallery_entity/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('gallery_entity/_delete_form.html.twig') }}
{% endblock %}
