{% extends 'baseDashboard.html.twig' %}

{% block title %}New GalleryEntity{% endblock %}
{% block pageName %}New GalleryEntity{% endblock %}

{% block body %}
    <h1>Create new GalleryEntity</h1>

    {{ include('gallery_entity/_form.html.twig') }}

    <a href="{{ path('gallery_entity_index') }}">back to list</a>
{% endblock %}
