{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block main %}

    {% block entity_form %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-4">
                Deb: {{ form_widget(form.monday_start) }}
            </div>
            <div class="col-sm-4">
                Fin: {{ form_widget(form.monday_end) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}

{% endblock %}